<div class="home">
  <div class="container-fluid display-table">
      <div class="row display-table-row">
          <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
              <div class="logo">
                  <a><img src="assets/imgaes/logo.png"  class="hidden-xs hidden-sm">         
                  </a>
              </div>
              <div class="navi">
                  <ul>
                      <li class="active"><a routerLink="/dashboard"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Dasboard</span></a></li>
                      <li class="pro_list" routerLink="/product-list">Product List</li>
                      <li><a><i  aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                      <li><a><i  aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                      <li><a><i  aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                      <li><a><i  aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-10 col-sm-11 display-table-cell v-align">
              <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
              <div class="row">
                  <header>
                      <div class="col-md-7">
                          <nav class="navbar-default pull-left">
                              <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                      <span class="sr-only">Toggle navigation</span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                  </button>
                              </div>
                          </nav>
                          <!-- <div class="search hidden-xs hidden-sm">
                              <input type="text" placeholder="Search" id="search">
                          </div> -->
                      </div>
                      <div class="col-md-5">
                          <div class="header-rightside">
                            
                              <ul class="list-inline header-top pull-right">
                                  <li class="dropdown">
                                      <a><img src="assets/imgaes/user.png">
                                          <b>fdgdf</b></a>
                                      <ul class="dropdown-menu">
                                          <li>
                                              <div class="navbar-content">
                                                  <span>JS Krishna</span>
                                                  <p class="text-muted small">
                                                      me@jskrishna.com
                                                  </p>
                                                  <div class="divider">
                                                  </div>
                                                  <a href="#" class="view btn-sm active">View Profile</a>
                                              </div>
                                          </li>
                                      </ul>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </header>
              </div>
          </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
            <p  routerLink="/product-list">PRODUCT LIST</p>

            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Sheena Shrestha</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="assets/imgaes/user.png" class="img-circle img-responsive"> </div>
                  
                  <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                    <dl>
                      <dt>DEPARTMENT:</dt>
                      <dd>Administrator</dd>
                      <dt>HIRE DATE</dt>
                      <dd>11/12/2013</dd>
                      <dt>DATE OF BIRTH</dt>
                         <dd>11/12/2013</dd>
                      <dt>GENDER</dt>
                      <dd>Male</dd>
                    </dl>
                  </div>-->
                  <div class=" col-md-9 col-lg-9 "> 
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>Department:</td>
                          <td>Programming</td>
                        </tr>
                        <tr>
                          <td>Hire date:</td>
                          <td>06/23/2013</td>
                        </tr>
                        <tr>
                          <td>Date of Birth</td>
                          <td>01/24/1988</td>
                        </tr>
                     
                           <tr>
                               <tr>
                          <td>Gender</td>
                          <td>Female</td>
                        </tr>
                          <tr>
                          <td>Home Address</td>
                          <td>Kathmandu,Nepal</td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td><a href="mailto:info@support.com">info@support.com</a></td>
                        </tr>
                        <tr>
                          <td>Phone Number</td>
                          <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                          </td>
                             
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>